<!DOCTYPE html>
<html lang="en">

<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Restaurant Rating Prediction</title>
          <link rel="stylesheet" href="/static/style.css">
</head>

<body>
          <div class="container">
                    <h2 class="first_h2"> Restaurant Rating Predictor </h2>
                    <form method="post">
                              <div class="col-md-6">
                                        <label>Enter the price range of the restaurant (1-4)</label> <br>
                                        <input type="number" name="Enter the price range of the restaurant"
                                                  class="form_control" min="1" max="4" placeholder="Price Range (1-4)"
                                                  required> <br>
                              </div>
                              <div class="col-md-6">
                                        <label>No of Votes the Restaurants Got?</label> <br>
                                        <input type="number" name="No of Votes the Restaurants Got?"
                                                  class="form_control" placeholder="Votes" required> <br>
                              </div>
                              <div class="col-md-6">
                                        <label>In Which City Restaurant is Located?</label> <br>
                                        <input type="text" name="In Which City Restaurant is Located 📍?"
                                                  class="form_control" placeholder="City" required> <br>
                              </div>
                              <div class="col-md-6">
                                        <label>Enter the cuisines the restaurant has</label><br>
                                        <input type="text" name="Enter the cuisines the restaurant has"
                                                  class="form_control" placeholder="cuisines" required> <br>
                              </div>
                              <div class="col-md-6">
                                        <label>Enter the average cost for two at the restaurant</label><br>
                                        <input type="number" name="Enter the average cost for two at the restaurant"
                                                  class="form_control" placeholder="Average Cost for 2?" required> <br>
                              </div>

                              <div class="col-md-6">
                                        <label>Does the restaurant have a table booking facility?</label> <br>
                                        <select name="has_table_booking" class="chalaja">
                                                  <option value="yes">Yes</option>
                                                  <option value="no">No</option>
                                        </select>
                              </div>
                              <div class="col-md-6">
                                        <label>Does the restaurant have an online delivery option?</label> <br>
                                        <select name="has_online_booking_option" class="jattmehkma">
                                                  <option value="yes">Yes</option>
                                                  <option value="no">No</option>
                                        </select>
                                        <div class="col-md-6">
                                                  <label>Is the restaurant delivering now?</label> <br>
                                                  <select name="delivering now" class="aaja">
                                                            <option value="yes">Yes</option>
                                                            <option value="no">No</option>
                                                  </select>
                                        </div>
                                        <div class="btn">
                                                  <button type="submit" class="button1">Predict</button>
                                        </div>
                    </form>
                    {% if prediction %}
                    <h2>📊 Predicted Rating: {{ prediction}} &#11088;</h2>
                    {% endif %}
          </div>
</body>

</html>